
.head {
    width:100%;
    background-color: #092b3e;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding:10px 20px;
}
.smember{
    cursor:pointer;
    color:white;
    border-right:1.5px solid white;
    padding-right:8px;
}
.smember a{
    color:white;
    text-decoration:none;
}
.reservation{
    cursor:pointer;
    color:white;
    border-right:1.5px solid white;
    padding-right:8px;
}
.reservation a{
    color:white;
    text-decoration:none;
}
.logout a{
    text-decoration:none;
    color:white;
    border:1px solid white;
}
.logout a:hover, .smember:hover, .smember a:hover{
    color:#107b93;
}
.container{
float:left}